.product-block {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.product-block:first-child {
    position: relative;
    padding-top: 0px;
    bottom: 15px;
}

.product-block:nth-child(3) {
    position: relative;
    z-index: 1000;
}

@media (max-width: 1280px) and (min-width: 1140px) {
    .product-block:nth-child(2) {
        position: relative;
        bottom: 15px;
    }
}
@media (max-width: 1000px) and (min-width: 768px) {
    .product-block:first-child {
        padding-top: 15px;
    }
    .product-block:nth-child(2) {
        position: relative;
        bottom: 15px;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .product-block {
        top: 0px;
    }
}
